.container {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}
.container * {
  font-weight: 600;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.4rem;
}
.linksContainer {
  display: flex;
  align-items: center;
  font-size: 1.05rem;
  column-gap: 2rem;
}

.linksContainer *{
    font-size: 1rem;
}